# Do not commit your actual .env file to Git! This may contain secrets or other
# private information.

# Enable/disable step debug logging (default: `false`). For local debugging, it
# may be useful to set it to `true`.
ACTIONS_STEP_DEBUG=true

INPUT_TOKEN=""
INPUT_PROJECT_ID=""
INPUT_TEAM_ID=""
INPUT_SHA=""
INPUT_TIMEOUT=15 
INPUT_DELAY=0    
INPUT_INITIAL_DELAY="0"
INPUT_CANCELED_AS_READY="true"